<div class="topnav">
    <div class="navcontainer">
        <div class="row" style="margin-top:15px">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="brightlyHeading"><strong>Brightly
                                Inventory</strong></h1>
                    </div>
                    <div class="col-md-6">
                        <div class="search-container">
                            <form action="/action_page.php">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input [(ngModel)]="partId" type="text" placeholder="Inventory Filter.."
                                            name="search">
                                    </div>
                                    <div class="col-md-6">
                                        <button (click)="searchPart()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <form [formGroup]="siteValue">
                            <select formControlName="site" (change)="changeSite($event)"
                                class=" headingSite form-select form-select-sm mb-3">
                                <option value="Choose Site Name" disabled>Choose Site Name</option>
                                <option *ngFor="let site of sites" value={{site.SiteId}}>{{site.SiteName}}</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-5">
                <h4 class="themeGreen"><strong>Color Indications For Inventory Storage</strong></h4>
                <button class="btn btn-outline-danger btn-sm  colorIndicationbtn">
                    <strong> Low Stock </strong></button>
                <button class="btn btn-outline-success btn-sm  colorIndicationbtn">
                    <Strong> Stable </Strong></button>
                <button class="btn btn-outline-info btn-sm  colorIndicationbtn">
                    <strong> On Order </strong></button>
                <button class="btn btn-outline-primary btn-sm  colorIndicationbtn">
                    <strong> Non Stock </strong></button>
            </div>
        </div>
    </div>
</div>