<ng-template #content let-c="close" let-d="dismiss">
    <div>
        <div class="row showMyPartHeader">
            <div class="col-md-11">
                <div class="row ">
                    <div class="col-md">
                        <div class="partName">
                            {{partName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="crossButton">
                    <button type="button" class="btn btn-close btn-close-white" aria-label="Close"
                        (click)="d('Cross click')"></button>
                </div>
            </div>
        </div>
        <div class="row showMyPartFooter">
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        {{store.locationName}} : {{store.building}} ----> {{store.store}}
                    </div>
                </div>
                <div class="">
                    <div class=" aisle d-flex flex-wrap">
                        {{store.aisle}}
                        <div class="d-flex flex-wrap">
                            <div class="shelf">
                                {{store.shelf}}
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                {{store.bin}}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" aisle d-flex flex-wrap">
                        Aisle
                        <div class="d-flex flex-wrap">
                            <div class="shelf">
                                Shelf 1
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shelf">
                                Shelf 2
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" aisle d-flex flex-wrap">
                        Aisle
                        <div class="d-flex flex-wrap">
                            <div class="shelf">
                                Shelf 1
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shelf">
                                Shelf 2
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #confirmTransfer let-c="close" let-d="dismiss">
    <div>
        <div class="row showMyPartHeader">
            <div class="col-md-10">
                <div class="row ">
                    <div class="col-md">
                        <div class="partName">
                            Are you Sure you want to tranfer the part ?
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="crossButton">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="d('Yes')">YES</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="crossButton">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="d('No')">NO</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="row locationModel">
    <div class="row locationHeaderName2" *ngIf="!SiteSelected">
        <div class="locationNameHead2">
            Please Choose Site
        </div>
    </div>
    <div class="col-md-9">
        <div class="locationHeaderName" *ngIf="SiteSelected">
            <div class="locationNameHead">
                Locations
            </div>
        </div>
        <div fxLayout="row wrap" class="d-flex flex-row">
            <div fxFlex="50%" *ngFor="let location of Site[0].Locations">
                <div class="locationCard" *ngIf="location.Parts.length > 0">
                    <div class="locationHeader">
                        <div class="locationName">
                            {{location.LocationName}}
                        </div>
                    </div>
                    <div class="row partsCard ">
                        <div class="col-md-4 lowStock" cdkDropList [cdkDropListData]="location.Parts"
                            (cdkDropListDropped)="drop($event,confirmTransfer)">
                            <div *ngFor="let part of location.Parts | filterPart: partId" cdkDrag>
                                <div class="lowStock">
                                    <button *ngIf="part.MinLevel > part.QuantityAvailable" href="#" id="{{part.PartNo}}"
                                        class=" btn btn-outline-danger lowStockPart" tooltip='<div class="partToolTip">
                                        <div class="row">
                                            <div class="col-md partNum">
                                                Part#: {{part.PartNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md">
                                                Avail: {{part.QuantityAvailable}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md partNum">
                                                Can Order Qty: {{part.MaxLevel}}
                                            </div>
                                         </div>
                                        <div class="row">
                                            <div class="col-md">
                                                OnBackOrder: {{part.QuantityOnBackOrder}}
                                            </div>
                                        </div>                                                
                                        <div class="row">
                                            <div class="col-md">
                                                Reserved: {{part.QuantityReserved}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md">
                                                Min Level: {{part.MinLevel}}
                                            </div>
                                        </div>
                                    </div>'>
                                        <div
                                            (click)="open(content,part.Name,part.StoragePath,part.PrimaryLocationName)">
                                            <span maxlength="10">{{part.Name}}</span>
                                            <span class="lowStockBadge">{{part.QuantityAvailable}}</span>
                                        </div>
                                        <button class="btn btn-outline-danger addPart">+</button>
                                        <button class="btn btn-outline-danger removePart">-</button>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 uptodate" cdkDropList [cdkDropListData]="location.Parts"
                            (cdkDropListDropped)="drop($event,confirmTransfer)">
                            <div class="uptodate">
                                <div *ngFor="let part of location.Parts | filterPart: partId" cdkDrag>
                                    <div class="uptodate">
                                        <button *ngIf="part.MinLevel < part.QuantityAvailable" href="#"
                                            class=" btn uptodatePart btn-outline-success " tooltip='<div class="partToolTip">
                                                <div class="row">
                                                    <div class="col-md partNum">
                                                        Part#: {{part.PartNo}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        Avail: {{part.QuantityAvailable}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md partNum">
                                                        Can Order Qty: {{part.MaxLevel}}
                                                    </div>
                                                 </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        OnBackOrder: {{part.QuantityOnBackOrder}}
                                                    </div>
                                                </div>                                                
                                                <div class="row">
                                                    <div class="col-md">
                                                        Reserved: {{part.QuantityReserved}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        Min Level: {{part.MinLevel}}
                                                    </div>
                                                </div>
                                            </div>'>
                                            <span
                                                (click)="open(content,part.Name,part.StoragePath,part.PrimaryLocationName)">{{part.Name}}</span>
                                            <span class="uptodateBadge">{{part.QuantityAvailable}}</span>
                                            <button class="btn btn-outline-success addPart">+</button>
                                            <button class="btn btn-outline-success removePart">-</button>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 backorder" cdkDropList [cdkDropListData]="location.Parts"
                            (cdkDropListDropped)="drop($event,confirmTransfer)">
                            <div class="backorder">
                                <div *ngFor="let part of location.Parts | filterPart: partId" cdkDrag>
                                    <div *ngIf="part.QuantityOnBackOrder > 0" class="backorder">
                                        <button href="#" class=" btn btn-outline-info backorderPart" tooltip='<div class="partToolTip">
                                            <div class="row">
                                                <div class="col-md partNum">
                                                    Part#: {{part.PartNo}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    Avail: {{part.QuantityAvailable}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md partNum">
                                                    Can Order Qty: {{part.MaxLevel}}
                                                </div>
                                             </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    OnBackOrder: {{part.QuantityOnBackOrder}}
                                                </div>
                                            </div>                                                
                                            <div class="row">
                                                <div class="col-md">
                                                    Reserved: {{part.QuantityReserved}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    Min Level: {{part.MinLevel}}
                                                </div>
                                            </div>
                                        </div>'>
                                            <span
                                                (click)="open(content,part.Name,part.StoragePath,part.PrimaryLocationName)">{{part.Name}}</span>
                                            <span class="backorderBadge">{{part.QuantityOnBackOrder}}</span>
                                            <button class="btn btn-outline-info addPart">+</button>
                                            <button class="btn btn-outline-info removePart">-</button>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md " *ngIf="SiteSelected">
        <div class="locationHeader">
            <div class="otherName">
                Other
            </div>
        </div>
        <div class="card nonStockPanel">
            <div class="card nonStockHeader">
                <div class="locationName">
                    Non Stock
                </div>
            </div>
            <div class="nonStockFooter partsCard" cdkDropList>
                <div *ngFor="let part of nonStockParts" cdkDrag>
                    <div class="lowStock">
                        <button href="#" class=" btn btn-outline-primary nonStockPart">
                            <span maxlength="10">{{part.partName}}</span>
                            <span class="nonStockBadge">10</span>
                            <button class="btn btn-outline-primary addPart">+</button>
                            <button class="btn btn-outline-primary removePart">-</button>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card zeroStockPanel">
            <div class="card zeroStockHeader">
                <div class="zeroStock">
                    Zero Stock Inventory
                </div>
            </div>
            <div class="zeroStockFooter partsCard" cdkDropList>
                <div *ngFor="let part of nonStockParts" cdkDrag>
                    <div class="lowStock">
                        <button href="#" class=" btn btn-outline-danger lowStockPart">
                            <span maxlength="10">{{part.partName}}</span>
                            <span class="lowStockBadge">0</span>
                            <button class="btn btn-outline-danger addPart">+</button>
                            <button class="btn btn-outline-danger removePart">-</button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>