<div class="container">
    <div class="row showMyPartHeader">
        <div class="col-md locationName">
            Part
        </div>
    </div>
    <div class="row showMyPartFooter">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    Building 01 ----> Store Room 5
                </div>
            </div>
            <div class="row">
                <div class="col-md aisle">
                    Aisle
                    <div fxLayout="row wrap">
                        <div>
                            <div fxFlex="50%" class="shelf">
                                Shelf 1
                                <div fxLayout="row wrap">
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="50%" class="shelf">
                                Shelf 1
                                <div fxLayout="row wrap">
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="20%">
                                        <div class="bin">
                                            <div class="binText">
                                                Bin 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>